body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f89970, #fa9a4c,  #f17f0c);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
    max-width: 350px;
    width: 100%;
}

.coin {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50%;
    background: radial-gradient(circle, #ffde59, #ffc107);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button {
    background: #3657fd;
    color: white;
    border: 2px solid #4a69ff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: #3657fd;
    color: #f0f1f6;
    border-color: #8d9ef6;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}